---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="font-bold font-sans text-[6rem]">Anne Lee</h1>
	<h2 class="font-sans text-4xl font-thin mb-12">Frontend Developer</h2>
	<p class="max-w-2xl mb-10">
		📍Barcelona, Spain
		<li>- Frontend Developer with three years of hands-on development</li>
		<li>- Experience and knowkedge in backend development</li>
		<li>- AWS Certified Cloud Practitioner</li>
	</p>
</Layout>
