/* Custom scrollbar */

/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #741B47;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BF910A; 
} */