/* Works in Chrome, Safari, and Edge (WebKit browsers) */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Works in Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge (legacy) */
}

/* .bg-llline {
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 400"><path d="M152.06948852539062,103.4793472290039C170.58401997884116,96.76036326090495,251.06250508626303,47.03988265991211,263.15667724609375,63.165443420410156C275.2508494059245,79.2910041809082,196.86272176106772,194.85752487182617,224.634521484375,200.2327117919922C252.40632120768228,205.6078987121582,409.1825917561849,87.80171712239583,429.7874755859375,95.41656494140625C450.3923594156901,103.03141276041667,328.10687255859375,236.9631551106771,348.2638244628906,245.9217987060547C368.4207763671875,254.88044230143228,531.0201721191406,139.16460927327475,550.7291870117188,149.16842651367188C570.4382019042969,159.172243754069,460.09755452473956,284.8918863932292,466.5179138183594,305.9447021484375C472.9382731119792,326.9975179036458,561.4795379638672,268.9156443277995,589.2513427734375,275.4853210449219C617.0231475830078,282.05499776204425,625.832509358724,333.7165222167969,633.1487426757812,345.3627624511719" fill="none" stroke-width="53" stroke="url(&quot;#SvgjsLinearGradient1001&quot;)" stroke-linecap="round" transform="matrix(-1.0000000000000002,-3.885780586188048e-16,3.885780586188048e-16,-1.0000000000000002,785.218231201172,405.32807159423857)"></path><defs><linearGradient id="SvgjsLinearGradient1001"><stop stop-color="hsl(340, 45%, 50%)" offset="0"></stop><stop stop-color="hsl(340, 45%, 80%)" offset="1"></stop></linearGradient></defs></svg>
} */