@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


@theme {
  --color-custom_yellow: #D4A11F;
  --color-custom_dark_yellow: #775c18;
  --color-custom_black: #2e2e2e;
  --color-custom_white: #fdfcfb;

  --color-custom_navy: #1F3950;
  --color-custom_red: #8f4949;
  --color-custom_greyishblue: #7B92A5;
  --color-custom_mustard: #D6AA6E;
  --color-custom_pink: #D6AB9A;

  --font-gilroy: 'Gilroy', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}


@layer components {
  .page_title {
    @apply text-8xl font-bold font-playfair tracking-wide max-lg:text-6xl
  }
  .tech_stack {
    @apply [&>ul]:flex [&>ul]:flex-wrap [&>ul]:gap-1
    [&_li]:bg-custom_mustard [&_li]:w-fit [&_li]:py-1 [&_li]:px-3 [&_li]:rounded-full
    [&_li]:text-sm [&_li]:whitespace-nowrap [&_li]:text-custom_navy
    max-lg:[&_li]:text-[0.7rem]
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

